@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.dashboard {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.user {
	display: flex;
	background: #3598dc;
	border-radius: 5px;
	color: white;
	padding: 20px;
}

.user-data {
	flex-grow: 1;
}

.remove {
	align-self: center;
	font-size: 30px;
	cursor: pointer;
}
